
/* FONT */
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,
400italic,700italic|Source+Code+Pro:400,700);

/* RESET: http://meyerweb.com/eric/tools/css/reset/ | v2.0b1 | 201101 */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,
abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,
strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,
figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{
margin:0;padding:0;border:0;outline:0;font-size:100%;font:inherit;vertical-align:
baseline;text-decoration:none;}article,aside,details,figcaption,figure,footer,
header,hgroup,menu,nav,section{display:block;}body{line-height:1;}ol,ul{
list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,
q:before,q:after{content:'';content:none;}ins{text-decoration:none;}del{
text-decoration:line-through;}table{border-collapse:collapse;border-spacing:0;}

/* DESIGN: http://www.cutils.org | Peter Varo | 2014  */
body{font-family:'Source Sans Pro',sans-serif;color:#383838;padding:15pt}
::selection{background:#fd0}a{padding:.5pt 0 .5pt 3pt}a:active,a:link,a:visited{
color:#383838}a:hover{background:#ededed}h1{font-size:40pt}h2{font-size:28pt}h3{
font-size:22pt}img{display:block;max-width:100%;margin-left:auto;margin-right:
auto}.toc,code,pre{font-family:'Source Code Pro',monospace;line-height:1.5;
font-size:10pt}.toc_current{font-weight: 700}pre{padding:10pt;border-radius:5pt;
border:1pt solid #ededed;background:#f8f8f8;overflow:auto;overflow-y:hidden}
ul,ol{line-height:1.5}ul li::before{content:'—';position:relative;left:-5pt}
#column1{float:left;width:165pt;position:fixed;height:100%}#column1 img{width:
165pt}#column2{margin-left:180pt}#sidebar{padding:10pt;line-height:1.2;
border-radius:5pt;border:1pt solid #ededed;background:#f8f8f8;overflow-y:auto;
max-height:70%}.toc{display:block;margin-left:2pt;width:135pt;white-space:
nowrap;overflow:hidden;text-overflow:ellipsis}.code_functions,.code_keywords,
.code_operators,.code_types{font-weight:700}.code_comments{color:silver;}
.code_operators{color:#000}.code_constants{color:#d8af00}.code_strings{color:
#888;background:#e8e8e8}.code_keywords{color:#000}.code_functions{color:#303030}
.code_types{color:#a8a8a8}.code_numbers,.code_macros{color:#d8af00}
.code_constants::selection,.code_numbers::selection,.code_macros::selection{
color:#000}.title{border-top:1.5pt solid #d8d8d8;padding-top:15pt;padding-bottom:
15pt}.entity{border-top:1pt solid #e8e8e8;padding-top:15pt}.return_values{
margin-left:45pt;line-height:1.5}.return_case{margin-right:5pt}.exception_message
{margin-left:45pt;line-height:1.5}.exception_note{margin-left:60pt;line-height:
1.5}.arg_comma,.arg_name,.arg_paren,.name{font-size:15pt}.arg_type{font-size:
13pt}.info{margin-left:30pt;line-height:1.5}.arg_comma,.arg_paren,.label,.name{
font-weight:700}.arg_comma,.arg_paren,.arg_type,.label,.note{font-style:italic}
i{font-style:italic}b{font-weight:700}a.inline_link{background:#ededed;margin:0;
padding:0 3pt;border-bottom:1.5pt solid #dddddd}a.inline_link:hover{background:
#e0e0e0;border-bottom:1.5pt solid #d0d0d0}
